In [8]:
import numpy as np
import pandas as pd

In [9]:
data=pd.read_json('http://127.0.0.1:8000/api/books/?format=json')
data

   id       title author publish_date
0   1  To-do-list     Me   2026-02-17
1   2      django     me   2026-02-03

In [10]:
user_data=pd.read_json('http://127.0.0.1:8000/api/authors/?format=json')
user_data

   id authors    username  password
0   1    name  author@123       123
1   2    name  author@123       123
2   3    name  author@123       123

In [11]:
student_data=pd.read_json('http://127.0.0.1:8000/api/students/?format=json')
student_data

   id  name  age course
0   1  abhi   21    CSE
1   2     T   21    CSE
2   3     S   21    ECE